:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --link-color: #007bff;
    --header-footer-bg: #ffffff;
    --section-bg: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --accent-color: #ff6f61;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}

header, nav {
    background-color: var(--header-footer-bg);
    color: var(--text-color);
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 2px 4px var(--box-shadow);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 800;
    font-family: var(--heading-font);
    color: var(--accent-color);
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

section {
    padding: 40px;
    margin: 30px;
    background-color: var(--section-bg);
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: var(--header-footer-bg);
    color: var(--text-color);
    box-shadow: 0 -2px 4px var(--box-shadow);
}

footer div a {
    color: var(--link-color);
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer div a:hover {
    color: var(--accent-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.theme-switch label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme-switch input[type="checkbox"] {
    margin-right: 10px;
}
