:root {
    --background-color: #2c2c2c;
    --text-color: #e0e0e0;
    --link-color: #007bff;
    --header-footer-bg: #3a3a3a;
    --section-bg: #3a3a3a;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --accent-color: #ff6f61;
}

.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --link-color: #66b2ff;
    --header-footer-bg: #2a2a2a;
    --section-bg: #2a2a2a;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}

header {
    background-color: var(--header-footer-bg);
    color: var(--text-color);
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 2px 4px var(--box-shadow);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 800;
    font-family: var(--heading-font);
    color: var(--accent-color);
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

main {
    padding: 40px;
    margin: 30px;
}

section {
    background-color: var(--section-bg);
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--box-shadow);
    padding: 30px;
    margin-bottom: 30px;
}

section h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--accent-color);
}

section h3 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
    font-family: var(--heading-font);
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: var(--header-footer-bg);
    color: var(--text-color);
    box-shadow: 0 -2px 4px var(--box-shadow);
}

footer div a {
    color: var(--link-color);
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer div a:hover {
    color: var(--accent-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.theme-switch label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme-switch input[type="checkbox"] {
    margin-right: 10px;
}
